.body {
    font-family: monospace, sans-serif;
    display: flex;
    flex-flow: column wrap;
}

.header,
.footer,
.bodyOne {
    background-color: #1F2937;
}

.header {
    padding: 10px 5em;
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    flex: auto;
}

.headerLeft {
    font-size: 24px;
    font-weight: bold;
   
}

ul {
    display:flex;
    list-style: none;
    gap: 16px
}

li {
    color: white;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.bodySubOne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding-left: none;
    align-items: center;
}

.sectionOne {
    margin: 0;
    padding: 5em;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
}

.oneHeader,
.oneSubtext {
    color: #F9FAF8;
}

.oneHeader {
    font-size: 48px;
    font-weight: bold;
}

.oneSubtext {
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    max-width: 70%;
    flex-wrap: wrap;
}

.imgContainerOne {
    padding-right: 5em;
}

.button {
    padding: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    width: 85px;
    outline: none;
}

.buttonOne {
    background-color: #3882F6;
    color: white;
    border-radius: 9px;
}

.bodyTwo {
    display: flex;
    flex-direction: column;
}

.twoHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    padding: 30px;
}

.infoContainer {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.infoPics {
    border: 5px outset #3882F6;
    border-radius: 12px;
    display:flex;
    justify-content: center;
    margin: 10px;
    flex: 1;
}

.info{
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

.textInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 250px;
}

.bodyThree{
    background-color: #E5E7EB;
    padding: 80px 150px;
    display: flex;
    flex-flow: column wrap;
    flex: 1;
}

.textThree{
    font-size: 36px;
    color: #1F2937;
    font-family: italic;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.author {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.bodyFour {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 30%;
    flex: 1;
}

.bookmark {
    background-color: #3882F6;
    padding: 35px 6%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    flex: 1;
}

.bookmarkSection1 {
    color:white;
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1;
}

.fourHeader {
    font-weight: bold;
    font-size: 15px;
}

.fourSubtext {
    font-size: 11px;
}

.buttonBook {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 0;
    white-space: nowrap;
}

.footer {
    padding: 16px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.copyRight {
    color: white;
    font-size: 10px;
}