.body {
    font-family: monospace, sans-serif;
    display: flex;
    flex-flow: column wrap;
}

.header,
.footer,
.bodyOne {
    background-color: #1F2937;
}

.header {
    padding: 10px 60px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: auto;
}

.headerLeft {
    font-size: 24px;
    font-weight: bold;
}


ul {
    display:flex;
    list-style: none;
    gap: 16px
}

li {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.bodyOne {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: none;
    align-items: center;
}

.sectionOne {
    margin: 0;
    padding: 100px;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
}

.oneHeader,
.oneSubtext {
    color: white;
}

.oneHeader {
    font-size: 48px;
    font-weight: bold;
}

.oneSubtext {
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    max-width: 70%;
    flex-wrap: wrap;
}

.button {
    padding: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    width: 85px;
    outline: none;
}

.buttonOne {
    background-color: #0c63f0;
    color: white;
    border-radius: 9px;
}

.bodyTwo {
    display: flex;
    flex-direction: column;
}

.twoHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 30px;
}

.infoContainer {
    gap: 50px;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.infoPics {
    border: 5px outset #03a1fc;
    border-radius: 12px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.textInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100px;
}

.footer {
    padding: 16px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.copyRight {
    color: white;
    font-size: 10px;
}